{% extends "auctions/layout.html" %}

{% block body %}

<h2>Active Listings</h2>
<form action="{% url 'index'%}" method="POST">
    {% csrf_token %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories
        </button>

        <div class="dropdown-menu" aria-labelledby="Categories">
            {% for category in categories %}

            <button type="submit" class='dropdown-item' name="category" value="{{category.name}}">
                {{category.name}}
            </button>


            {% endfor %}


        </div>

    </div>
</form>
{% for listing in activeListings %}
<a href="{% url 'listingItem' listing.id%}">
    <div class="mcard">
        <div>
            <h2>{{listing.title}}</h2>
            <h3>{{listing.price}}</h3>
            <h3>{{listing.description}}</h3>
        </div>
        <img src="{{listing.img_url}}" alt="image">

    </div>
</a>
{% endfor %}


{% endblock %}